@model Steam.Models.GameImage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlString)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameImageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
