@using Steam.Models;
@model Steam.Models.Game
@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/CSS/gameview.css" />
<link href="~/Content/CSS/gameview.css" rel="stylesheet" />

@{
    var gameData = ViewBag.Game;
    IEnumerable<GameImage> images = ViewData["gameImages"] as IEnumerable<GameImage>;
    IEnumerable<Review> reviews = ViewData["listReviews"] as IEnumerable<Review>;
    IEnumerable<ApplicationUser> users = ViewData["users"] as IEnumerable<ApplicationUser>;
}
@section MyScripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".image-list img").click(function () {
                var smth = $(this).index();

                $(".carousel-inner div").removeClass("active");
                $(`.carousel-inner div:nth-child(${smth + 1})`).addClass("active");
            })

        })
    </script>
}

<style>

    .right-part div{
        display:block;
        float:left;
        clear:left;
    }
    .user-info div{
        display:inline-block;
    }
    .review{
        display:block;
        
    }
    .user-name{
        position:relative;
        top:-35px;
    }
    .review-part{
        margin-top:10px;
        border-radius:25px;
        border: 1px solid #ffd1fe;
        padding:10px;

    }
    p{
        color:#fff;
    }
    




</style>

<div class="container">
    <div class="upper-part">
        <div class="left-part">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" class="custom-carousel">
                <div class="carousel-inner">
                    @{
                        var first = true;

                    }

                    @foreach (GameImage item in images)
                    {
                        <div class="item @(first?Html.Raw("active"):Html.Raw(""))">
                            <img src="@item.UrlString">
                        </div>
                        first = false;
                    }
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="image-list">
                @foreach (GameImage item in images)
                {
                    <img src="@item.UrlString">
                }

            </div>
        </div>
        <div class="right-part">
            <div class="cover-image" width="100%">
                <img src="@Model.coverImage">
            </div>
            <div class="description">
                <p>
                    @Model.shortDescription
                </p>
            </div>
            <div class="other-info">
                <p>DEVELOPER: @Model.developer</p>
                
            </div>
        </div>
    </div>
    <hr />
    <div class="lower-part">
        <p>ABOUT THIS GAME</p>
        <div class="regular-description">
            <p>
                @Model.description
            </p>
            
        </div>
       <hr />
        <p>REVIEWS</p>
        <div class="review-container">
            @foreach(Review review in reviews)
            {
             <div class="review-part">
                <div class="user-info">
                    @foreach (ApplicationUser user in users)
                    {
                        if (review.ApplicationUserId == user.Id)
                        {
                            <a href="@Url.Action("Details","ApplicationUsers", new { id = review.ApplicationUserId},null)">

                                <div class="user-picture">
                                    <img src="@user.avatar" width="50px" height="50px" />
                                </div>
                            </a>

                            <a href="@Url.Action("Details","ApplicationUsers", new { id = review.ApplicationUserId},null)">
                                <div class="user-name">
                                    <p>
                                        @user.nickname
                                    </p>
                                </div>
                            </a>
                            
                        }

                    }

                </div>
                <div class="review">
                    <p>
                        @review.review
                    </p>
                </div>


            </div>
                

            }
        </div>
        
    </div>

</div>
